# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Production builds
/client/dist/

# Local databases & secrets
/server/*.db
/server/.env
.env
.env.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
